body {
    margin: 0;
    padding: 0;
}
#menusArea {
    float: left;
    width: 180px;	
}
#leftMenu, #adminMenu {
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #808080;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#adminMenu {
	border-color: #800000;
}

#leftMenu ul, #adminMenu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#leftMenu ul li a, #adminMenu ul li a{
    display: block;
    text-decoration: none;
    font-family: tahoma, helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #585858;
    padding: 5px;
}
#leftMenu ul li a:hover, #leftMenu ul li a.active, #adminMenu ul li a:hover, #adminMenu ul li a.active{
    background: #F0F0F0;
}
#mainBodyLMenu {
    margin-left: 200px;
    padding-top: 20px;
}
.infoLine, .formLine {
    display: block;
    padding-bottom: 2px;
    border-bottom: 1px dashed #E0E0E0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    color: #585858;
}
.infoLine label, .formLine label {
    float: left;
    width: 200px;
    font-weight: bold;
}
h2,h4,p {
    color: #585858;
    font-family: arial, helvetica, sans-serif;
}
p { font-size: 12px;}
.listingTable {
    width: 100%;
    padding: 2px;
}
.listingTable tr td {
    padding: 3px;
    color: #585858;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;    
}
tr.listingHeader td {
    background: #B05800;
    color: #fff;
    font-weight: bold;
}
tr.listingRow0 td {
    background: #FFE7CE;
}
tr.listingRow1 td {
    background: #FFF4EA;
}
.success, .error {
    background: #008080;
    padding: 3px;
    text-align: center;
    color: #fff;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px; 
    font-weight: bold;    
}
.error { background: #800000;}